# Data Science Tools and Ecosystem

**Objectives:**
* List popular languages for Data Science
* Create ordered lists
* Run simple calculations
* List common languages in Data Science

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
 1. Pyhton
 2. R
 3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. scikit-learn
3. keras
4. tensor flow

| Data Science Tools |
|----|
| Apache Hadoop |
| GitHub  |
| PowerBI   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Elston Sandiford